Make/1-DataBase_IRPF.blueprint.json
{
    "name": "DataBase IRPF",
    "flow": [
        {
            "id": 4,
            "module": "google-drive:watchFilesInAFolder",
            "version": 4,
            "parameters": {
                "limit": 8,
                "select": "create",
                "folderId": "id(folderDrive)",
                "mimeType": "all",
                "__IMTCONN__": 1000001,
                "destination": "drive"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 900
                },
                "restore": {
                    "parameters": {
                        "select": {
                            "label": "By Created Time"
                        },
                        "folderId": {
                            "path": [
                                "IRPF Demo",
                                "Entrada"
                            ]
                        },
                        "mimeType": {
                            "label": "All"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "demo@example.com"
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted,google-drive",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Watch Files",
                        "required": true,
                        "validate": {
                            "enum": [
                                "create",
                                "modify"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "mimeType",
                        "type": "select",
                        "label": "File Types to Watch",
                        "required": true,
                        "validate": {
                            "enum": [
                                "all",
                                "document",
                                "spreadsheet",
                                "slide",
                                "drawing"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "Select the Folder to be Watched",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "google-drive:getAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 1000001
            },
            "filter": null,
            "mapper": {
                "file": "{{4.id}}",
                "select": "map",
                "formatDrawings": "image/jpeg",
                "formatDocuments": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                "formatSpreadsheets": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                "formatPresentations": "application/vnd.openxmlformats-officedocument.presentationml.presentation"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 900
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Enter manually"
                        },
                        "formatDrawings": {
                            "label": "JPEG"
                        },
                        "formatDocuments": {
                            "label": "MS Word Document"
                        },
                        "formatSpreadsheets": {
                            "label": "MS Excel"
                        },
                        "formatPresentations": {
                            "label": "MS PowerPoint"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "demo@example.com"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted,google-drive",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a File ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "formatDocuments",
                        "type": "select",
                        "label": "Convert Google Documents Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                "application/pdf",
                                "application/vnd.oasis.opendocument.text",
                                "text/html",
                                "text/plain",
                                "application/rtf",
                                "text/markdown"
                            ]
                        }
                    },
                    {
                        "name": "formatSpreadsheets",
                        "type": "select",
                        "label": "Convert Google Spreadsheets Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                                "application/x-vnd.oasis.opendocument.spreadsheet",
                                "application/pdf",
                                "text/csv"
                            ]
                        }
                    },
                    {
                        "name": "formatPresentations",
                        "type": "select",
                        "label": "Convert Google Slides Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.presentationml.presentation",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "formatDrawings",
                        "type": "select",
                        "label": "Convert Google Drawings Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "image/jpeg",
                                "image/png",
                                "image/svg+xml",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "file",
                        "type": "text",
                        "label": "File ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "gemini-ai:uploadAFile",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1000002
            },
            "filter": null,
            "mapper": {
                "file_data": "{{6.data}}",
                "file_name": "{{6.name}}",
                "useFileSearchStore": false
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 900
                },
                "restore": {
                    "expect": {
                        "useFileSearchStore": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "example:gemini-ai"
                            },
                            "label": "Gemini Demo Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:example:gemini-ai",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "file_name",
                        "type": "text",
                        "label": "Name",
                        "required": true
                    },
                    {
                        "name": "file_data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "useFileSearchStore",
                        "type": "boolean",
                        "label": "Use File Search Store"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "example:gemini-ai:createACompletionGeminiPro",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1000002
            },
            "filter": null,
            "mapper": {
                "model": "example:gemini-3.1-flash-lite",
                "contents": [
                    {
                        "role": "user",
                        "parts": [
                            {
                                "text": "Extraia os dados do .pdf",
                                "type": "text"
                            },
                            {
                                "type": "file",
                                "file_data": {
                                    "file_uri": "{{9.uri}}",
                                    "mime_type": "{{9.mimeType}}"
                                }
                            }
                        ]
                    }
                ],
                "generationConfig": {
                    "imageConfig": {},
                    "thinkingConfig": {},
                    "mediaResolution": "media_resolution_medium",
                    "responseModalities": [
                        "text"
                    ]
                },
                "system_instruction": {
                    "parts": [
                        {
                            "text": "Você é um especialista em extração de dados de Declaração de Ajuste Anual do IRPF.\r\n\r\nAnalise o PDF anexado e extraia dados estruturados para alimentar um banco PostgreSQL/Supabase com as tabelas:\r\n\r\n- public.pessoas\r\n- public.exercicios\r\n- public.pendencias\r\n- public.documentos\r\n- public.uploads\r\n\r\nA resposta deve ser exclusivamente um JSON válido.\r\n\r\nREGRAS GERAIS:\r\n1. Responda somente com JSON puro.\r\n2. Não use markdown.\r\n3. Não escreva explicações fora do JSON.\r\n4. Não invente dados.\r\n5. Se uma informação não estiver no PDF, use null.\r\n6. Se uma lista não tiver itens, retorne [].\r\n7. Valores monetários devem ser números com ponto decimal. Exemplo: 1250.75\r\n8. CPF deve ser retornado com máscara e sem máscara.\r\n9. Datas devem usar o formato YYYY-MM-DD quando forem identificadas.\r\n10. O objetivo principal é identificar a pessoa, o ano-base, o exercício e gerar pendências documentais para conferência do IRPF.\r\n\r\nTIPOS VÁLIDOS PARA pendencias_sugeridas.tipo:\r\n- declaracao_anterior\r\n- informe_rendimentos_pj\r\n- lucros_dividendos\r\n- distribuicao_lucros_simples\r\n- diarias_ajudas_custo\r\n- informe_rendimentos_aplicacoes\r\n- extrato_posicao_investimentos\r\n- extrato_posicao_exterior\r\n- operacoes_bolsa\r\n- recibo_dispensa_medica\r\n- documentos_dependentes\r\n- imovel_documentos\r\n- imovel_reforma_notas_contratos\r\n- veiculo_documentos\r\n- veiculo_compra_venda\r\n- participacao_societaria_documentos\r\n- divida_financiamento_contrato\r\n- divida_financiamento_extratos\r\n- outros\r\n\r\nVALORES VÁLIDOS PARA pendencias_sugeridas.origem:\r\n- ia\r\n\r\nVALORES VÁLIDOS PARA pendencias_sugeridas.status:\r\n- pendente\r\n\r\nREGRAS PARA IDENTIFICAR O DOCUMENTO:\r\n1. Se o PDF for uma Declaração de Ajuste Anual do IRPF, retorne documento_detectado = true.\r\n2. Se não for uma Declaração de Ajuste Anual do IRPF, retorne documento_detectado = false.\r\n3. O ano_base normalmente é o ano-calendário.\r\n4. O ano_exercicio normalmente é o exercício da declaração.\r\n\r\nREGRAS PARA GERAR PENDÊNCIAS:\r\n1. Sempre gerar uma pendência do tipo \"declaracao_anterior\" quando o documento for uma Declaração de Ajuste Anual válida.\r\n2. Se houver rendimentos tributáveis recebidos de pessoa jurídica, gerar uma pendência do tipo \"informe_rendimentos_pj\" para cada fonte pagadora.\r\n3. Se houver lucros e dividendos, gerar uma pendência do tipo \"lucros_dividendos\".\r\n4. Se houver distribuição de lucros de empresa do Simples Nacional, gerar \"distribuicao_lucros_simples\".\r\n5. Se houver diárias ou ajudas de custo, gerar \"diarias_ajudas_custo\".\r\n6. Se houver rendimentos de aplicações financeiras, gerar \"informe_rendimentos_aplicacoes\".\r\n7. Se houver bancos, contas, aplicações, CDB, RDB, fundos, previdência privada, corretoras, ações, criptoativos ou outros investimentos, gerar \"extrato_posicao_investimentos\".\r\n8. Se houver bens, direitos, contas, aplicações, empresas ou rendimentos no exterior, gerar \"extrato_posicao_exterior\".\r\n9. Se houver ações, fundos imobiliários, BDR, ETF, opções, termo, futuro ou operações em bolsa, gerar \"operacoes_bolsa\".\r\n10. Se houver despesas médicas, gerar \"recibo_dispensa_medica\".\r\n11. Se houver dependentes, gerar \"documentos_dependentes\".\r\n12. Se houver imóveis, gerar \"imovel_documentos\".\r\n13. Se houver construção, reforma, benfeitoria, ampliação ou custo adicional em imóvel, gerar \"imovel_reforma_notas_contratos\".\r\n14. Se houver veículos, gerar \"veiculo_documentos\".\r\n15. Se houver compra ou venda de veículo no ano-base, gerar \"veiculo_compra_venda\".\r\n16. Se houver participação societária, quotas, empresa, MEI, sociedade limitada, capital social ou ações não negociadas em bolsa, gerar \"participacao_societaria_documentos\".\r\n17. Se houver dívidas, financiamentos, empréstimos ou ônus reais, gerar \"divida_financiamento_contrato\".\r\n18. Se houver saldo de dívida, financiamento ou empréstimo em 31/12, gerar \"divida_financiamento_extratos\".\r\n19. Evite pendências duplicadas com o mesmo tipo e mesma instituicao_texto.\r\n20. Para pendências gerais, use instituicao_texto = \"GERAL\".\r\n21. Para fontes pagadoras, bancos, corretoras, imóveis, veículos, empresas ou credores identificáveis, preencha instituicao_texto com o nome identificado.\r\n22. O campo tipo deve sempre usar exatamente um dos tipos válidos listados.\r\n23. O campo origem deve ser sempre \"ia\".\r\n24. O campo status deve ser sempre \"pendente\".\r\n\r\nRETORNE EXATAMENTE NESTA ESTRUTURA JSON:\r\n\r\n{\r\n  \"documento_detectado\": true,\r\n  \"tipo_documento\": \"declaracao_ajuste_anual_irpf\",\r\n  \"confianca_extracao\": 0.0,\r\n  \"observacoes_gerais\": null,\r\n\r\n  \"pessoa\": {\r\n    \"nome\": null,\r\n    \"cpf_formatado\": null,\r\n    \"cpf_limpo\": null,\r\n    \"email\": null,\r\n    \"telefone\": null,\r\n    \"endereco\": null\r\n  },\r\n\r\n  \"exercicio\": {\r\n    \"ano_exercicio\": null,\r\n    \"ano_base\": null,\r\n    \"status_sugerido\": \"em_coleta\"\r\n  },\r\n\r\n  \"declaracao\": {\r\n    \"tipo_declaracao\": null,\r\n    \"numero_recibo\": null,\r\n    \"data_entrega\": null,\r\n    \"hora_entrega\": null,\r\n    \"possui_retificacao\": null\r\n  },\r\n\r\n  \"resumo_fiscal\": {\r\n    \"total_rendimentos_tributaveis\": null,\r\n    \"total_rendimentos_isentos\": null,\r\n    \"total_rendimentos_exclusivos\": null,\r\n    \"total_bens_ano_anterior\": null,\r\n    \"total_bens_ano_base\": null,\r\n    \"total_dividas_ano_anterior\": null,\r\n    \"total_dividas_ano_base\": null,\r\n    \"imposto_devido\": null,\r\n    \"imposto_a_restituir\": null,\r\n    \"saldo_imposto_a_pagar\": null\r\n  },\r\n\r\n  \"fontes_pagadoras_pj\": [\r\n    {\r\n      \"fonte_pagadora\": null,\r\n      \"cnpj\": null,\r\n      \"valor_rendimento\": null,\r\n      \"imposto_retido_fonte\": null\r\n    }\r\n  ],\r\n\r\n  \"bens_direitos\": [\r\n    {\r\n      \"grupo\": null,\r\n      \"codigo\": null,\r\n      \"descricao\": null,\r\n      \"instituicao_texto\": null,\r\n      \"pais\": null,\r\n      \"cnpj_cpf\": null,\r\n      \"situacao_31_12_ano_anterior\": null,\r\n      \"situacao_31_12_ano_base\": null,\r\n      \"classificacao_sugerida\": null\r\n    }\r\n  ],\r\n\r\n  \"dividas_onus\": [\r\n    {\r\n      \"codigo\": null,\r\n      \"credor\": null,\r\n      \"cnpj_cpf_credor\": null,\r\n      \"descricao\": null,\r\n      \"situacao_31_12_ano_anterior\": null,\r\n      \"situacao_31_12_ano_base\": null,\r\n      \"valor_pago_ano\": null\r\n    }\r\n  ],\r\n\r\n  \"dependentes\": [\r\n    {\r\n      \"nome\": null,\r\n      \"cpf\": null,\r\n      \"data_nascimento\": null,\r\n      \"parentesco\": null\r\n    }\r\n  ],\r\n\r\n  \"pagamentos_efetuados\": [\r\n    {\r\n      \"codigo\": null,\r\n      \"descricao_codigo\": null,\r\n      \"beneficiario\": null,\r\n      \"cpf_cnpj_beneficiario\": null,\r\n      \"valor_pago\": null,\r\n      \"parcela_nao_dedutivel\": null\r\n    }\r\n  ],\r\n\r\n  \"documento_recebido\": {\r\n    \"tipo\": \"declaracao_anterior\",\r\n    \"instituicao_texto\": \"GERAL\",\r\n    \"descricao\": \"Declaração de Ajuste Anual do IRPF analisada pela IA\"\r\n  },\r\n\r\n  \"pendencias_sugeridas\": [\r\n    {\r\n      \"tipo\": null,\r\n      \"instituicao_texto\": null,\r\n      \"descricao_sugerida\": null,\r\n      \"origem\": \"ia\",\r\n      \"status\": \"pendente\",\r\n      \"motivo\": null\r\n    }\r\n  ],\r\n\r\n  \"alertas\": [\r\n    {\r\n      \"nivel\": \"baixo\",\r\n      \"mensagem\": null\r\n    }\r\n  ]\r\n}\r\n\r\nREGRAS FINAIS:\r\n1. Se documento_detectado for false, retorne tipo_documento = \"nao_identificado\".\r\n2. Se documento_detectado for false, retorne todas as listas vazias.\r\n3. Não retorne campos extras fora da estrutura solicitada.\r\n4. Nunca retorne tipo de pendência fora da lista permitida.\r\n5. Nunca retorne origem diferente de \"ia\".\r\n6. Nunca retorne status diferente de \"pendente\"."
                        }
                    ]
                }
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 900,
                    "name": "Extrai PF + Exercicio"
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "example:Gemini 3.1 Flash LiteDiscontinuation date: May 7, 2027"
                        },
                        "contents": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "parts": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                },
                                                "thoughtSignature": {
                                                    "collapsed": true
                                                }
                                            },
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "File"
                                                },
                                                "thoughtSignature": {
                                                    "collapsed": true
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "serviceTier": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "url_context": {
                            "mode": "chose"
                        },
                        "code_execution": {
                            "mode": "chose"
                        },
                        "safetySettings": {
                            "mode": "chose"
                        },
                        "generationConfig": {
                            "nested": {
                                "imageConfig": {
                                    "nested": {
                                        "imageSize": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    },
                                    "collapsed": true
                                },
                                "stopSequences": {
                                    "mode": "chose"
                                },
                                "thinkingConfig": {
                                    "nested": {
                                        "thinking_level": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "include_thoughts": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "mediaResolution": {
                                    "mode": "chose",
                                    "label": "Medium"
                                },
                                "responseMimeType": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "responseModalities": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "system_instruction": {
                            "nested": {
                                "parts": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        },
                        "google_maps_context": {
                            "mode": "chose"
                        },
                        "google_search_context": {
                            "mode": "chose"
                        },
                        "file_search_store_context": {
                            "mode": "chose"
                        },
                        "function_declarations_context": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "example:gemini-ai"
                            },
                            "label": "Gemini Demo Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:example:gemini-ai",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "AI Model",
                        "required": true
                    },
                    {
                        "name": "contents",
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Model",
                                        "value": "model"
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "parts",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "options": [
                                            {
                                                "label": "Text",
                                                "value": "text",
                                                "nested": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "File",
                                                "value": "file",
                                                "nested": [
                                                    {
                                                        "name": "file_data",
                                                        "spec": [
                                                            {
                                                                "name": "mime_type",
                                                                "type": "text",
                                                                "label": "Mime Type",
                                                                "required": true
                                                            },
                                                            {
                                                                "help": "You can use public or signed URLs as input by using the URLs.",
                                                                "name": "file_uri",
                                                                "type": "text",
                                                                "label": "File URI",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Data",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Call",
                                                "value": "functionCall",
                                                "nested": [
                                                    {
                                                        "name": "functionCall",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function parameters and values in JSON object format.",
                                                                "name": "args",
                                                                "type": "json",
                                                                "label": "Arguments"
                                                            },
                                                            {
                                                                "help": "The unique ID of the function call.",
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "Function Call ID"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Call"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Response",
                                                "value": "functionResponse",
                                                "nested": [
                                                    {
                                                        "name": "functionResponse",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function response in JSON object format.",
                                                                "name": "response",
                                                                "type": "json",
                                                                "label": "Response",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Response"
                                                    }
                                                ]
                                            }
                                        ],
                                        "required": true
                                    },
                                    {
                                        "name": "thoughtSignature",
                                        "type": "text",
                                        "label": "Thought Signature"
                                    }
                                ],
                                "type": "array",
                                "label": "Parts",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "system_instruction",
                        "spec": [
                            {
                                "name": "parts",
                                "spec": {
                                    "name": "value",
                                    "spec": [
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Prompt"
                                },
                                "type": "array",
                                "label": "Prompts"
                            }
                        ],
                        "type": "collection",
                        "label": "System Instructions"
                    },
                    {
                        "name": "safetySettings",
                        "spec": [
                            {
                                "name": "category",
                                "type": "select",
                                "label": "Category",
                                "options": [
                                    {
                                        "label": "Harassment content",
                                        "value": "HARM_CATEGORY_HARASSMENT"
                                    },
                                    {
                                        "label": "Hate speech and content",
                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                    },
                                    {
                                        "label": "Sexually explicit content.",
                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                    },
                                    {
                                        "label": "Dangerous content:",
                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                    }
                                ]
                            },
                            {
                                "name": "threshold",
                                "type": "select",
                                "label": "Threshold",
                                "options": [
                                    {
                                        "label": "Block low and above.",
                                        "value": "BLOCK_LOW_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block medium and above.",
                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block only high.",
                                        "value": "BLOCK_ONLY_HIGH"
                                    },
                                    {
                                        "label": "Block none.",
                                        "value": "BLOCK_NONE"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Safety Settings"
                    },
                    {
                        "name": "generationConfig",
                        "spec": [
                            {
                                "name": "stopSequences",
                                "spec": {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Stop Sequence"
                                },
                                "type": "array",
                                "label": "Stop Sequences"
                            },
                            {
                                "name": "responseModalities",
                                "type": "select",
                                "label": "Response Modalities",
                                "multiple": true,
                                "validate": {
                                    "enum": [
                                        "text",
                                        "image"
                                    ]
                                }
                            },
                            {
                                "name": "maxOutputTokens",
                                "type": "number",
                                "label": "Max Output Tokens"
                            },
                            {
                                "name": "temperature",
                                "type": "number",
                                "label": "Temperature",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topP",
                                "type": "number",
                                "label": "Top P",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topK",
                                "type": "number",
                                "label": "Top K"
                            },
                            {
                                "name": "thinkingConfig",
                                "spec": [
                                    {
                                        "name": "thinkingBudget",
                                        "type": "number",
                                        "label": "Thinking Budget"
                                    },
                                    {
                                        "name": "include_thoughts",
                                        "type": "boolean",
                                        "label": "Include Thoughts"
                                    },
                                    {
                                        "name": "thinking_level",
                                        "type": "select",
                                        "label": "Thinking Level",
                                        "validate": {
                                            "enum": [
                                                "low",
                                                "high"
                                            ]
                                        }
                                    }
                                ],
                                "type": "collection",
                                "label": "Thinking Config"
                            },
                            {
                                "name": "mediaResolution",
                                "type": "select",
                                "label": "Media Resolution",
                                "validate": {
                                    "enum": [
                                        "media_resolution_low",
                                        "media_resolution_medium",
                                        "media_resolution_high"
                                    ]
                                }
                            },
                            {
                                "name": "imageConfig",
                                "spec": [
                                    {
                                        "name": "imageSize",
                                        "type": "select",
                                        "label": "Image Size",
                                        "validate": {
                                            "enum": [
                                                "1K",
                                                "2K",
                                                "4K"
                                            ]
                                        }
                                    }
                                ],
                                "type": "collection",
                                "label": "Image Configuration"
                            },
                            {
                                "name": "responseMimeType",
                                "type": "select",
                                "label": "Response Format"
                            }
                        ],
                        "type": "collection",
                        "label": "Generation configurations"
                    },
                    {
                        "name": "tools",
                        "type": "any",
                        "label": "Tools"
                    },
                    {
                        "name": "tool_config",
                        "type": "any",
                        "label": "Tool Config"
                    },
                    {
                        "name": "function_declarations_context",
                        "type": "boolean",
                        "label": "Function Declarations Grounding"
                    },
                    {
                        "name": "url_context",
                        "type": "boolean",
                        "label": "URL Context"
                    },
                    {
                        "name": "google_search_context",
                        "type": "boolean",
                        "label": "Google Search Grounding"
                    },
                    {
                        "name": "code_execution",
                        "type": "boolean",
                        "label": "Code Execution"
                    },
                    {
                        "name": "google_maps_context",
                        "type": "boolean",
                        "label": "Google Maps Grounding"
                    },
                    {
                        "name": "file_search_store_context",
                        "type": "boolean",
                        "label": "File Search Store Context"
                    },
                    {
                        "name": "serviceTier",
                        "type": "select",
                        "label": "Inference Service Tier"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "supabase:upsertARecord",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1000003
            },
            "mapper": {
                "cpf": "{{11.result.pessoa.cpf_limpo}}",
                "nome": "{{11.result.pessoa.nome}}",
                "email": "{{11.result.pessoa.email}}",
                "table": "pessoas",
                "endereco": "{{11.result.pessoa.endereco}}",
                "telefone": "{{11.result.pessoa.telefone}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 900,
                    "name": "Atualiza PF"
                },
                "restore": {
                    "expect": {
                        "table": {
                            "mode": "chose",
                            "label": "pessoas",
                            "nested": [
                                {
                                    "help": "Note:\nThis is a Primary Key.<pk/>",
                                    "name": "id",
                                    "type": "integer",
                                    "label": "id",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "nome",
                                    "type": "text",
                                    "label": "nome",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "cpf",
                                    "type": "text",
                                    "label": "cpf",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "email",
                                    "type": "text",
                                    "label": "email",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "telefone",
                                    "type": "text",
                                    "label": "telefone",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "endereco",
                                    "type": "text",
                                    "label": "endereco",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "Defaults to now(). ",
                                    "name": "created_at",
                                    "type": "text",
                                    "label": "created_at",
                                    "options": null,
                                    "required": false
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "supabase"
                            },
                            "label": "Supabase Demo Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:supabase",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "integer"
                    },
                    {
                        "name": "nome",
                        "type": "text"
                    },
                    {
                        "name": "cpf",
                        "type": "text"
                    },
                    {
                        "name": "email",
                        "type": "text"
                    },
                    {
                        "name": "telefone",
                        "type": "text"
                    },
                    {
                        "name": "endereco",
                        "type": "text"
                    },
                    {
                        "name": "created_at",
                        "type": "text"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "number",
                        "label": "id"
                    },
                    {
                        "name": "nome",
                        "type": "text",
                        "label": "nome"
                    },
                    {
                        "name": "cpf",
                        "type": "text",
                        "label": "cpf"
                    },
                    {
                        "name": "email",
                        "type": "text",
                        "label": "email"
                    },
                    {
                        "name": "telefone",
                        "type": "text",
                        "label": "telefone"
                    },
                    {
                        "name": "endereco",
                        "type": "text",
                        "label": "endereco"
                    },
                    {
                        "name": "created_at",
                        "type": "text",
                        "label": "created_at"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 35,
                    "module": "builtin:Commit",
                    "version": 1,
                    "parameters": {},
                    "mapper": {},
                    "metadata": {
                        "designer": {
                            "x": 1500,
                            "y": 1800
                        },
                        "restore": {}
                    }
                }
            ]
        },
        {
            "id": 12,
            "module": "supabase:upsertARecord",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1000003
            },
            "mapper": {
                "table": "exercicios",
                "status": "{{11.result.exercicio.status_sugerido}}",
                "ano_base": "{{11.result.exercicio.ano_base}}",
                "pessoa_id": "{{5.id}}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 750,
                    "name": "Atualiza o Exercício Atual"
                },
                "restore": {
                    "expect": {
                        "table": {
                            "mode": "chose",
                            "label": "exercicios",
                            "nested": [
                                {
                                    "help": "Note:\nThis is a Primary Key.<pk/>",
                                    "name": "id",
                                    "type": "integer",
                                    "label": "id",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "Note:\nThis is a Foreign Key to `pessoas.id`.<fk table='pessoas' column='id'/>",
                                    "name": "pessoa_id",
                                    "type": "integer",
                                    "label": "pessoa_id",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "ano_base",
                                    "type": "integer",
                                    "label": "ano_base",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "Defaults to em_coleta. ",
                                    "name": "status",
                                    "type": "text",
                                    "label": "status",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "Defaults to now(). ",
                                    "name": "created_at",
                                    "type": "text",
                                    "label": "created_at",
                                    "options": null,
                                    "required": false
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "supabase"
                            },
                            "label": "Supabase Demo Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:supabase",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "integer"
                    },
                    {
                        "name": "pessoa_id",
                        "type": "integer"
                    },
                    {
                        "name": "ano_base",
                        "type": "integer"
                    },
                    {
                        "name": "status",
                        "type": "text"
                    },
                    {
                        "name": "created_at",
                        "type": "text"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "number",
                        "label": "id"
                    },
                    {
                        "name": "pessoa_id",
                        "type": "number",
                        "label": "pessoa_id"
                    },
                    {
                        "name": "ano_base",
                        "type": "number",
                        "label": "ano_base"
                    },
                    {
                        "name": "status",
                        "type": "text",
                        "label": "status"
                    },
                    {
                        "name": "created_at",
                        "type": "text",
                        "label": "created_at"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 36,
                    "module": "builtin:Commit",
                    "version": 1,
                    "parameters": {},
                    "mapper": {},
                    "metadata": {
                        "designer": {
                            "x": 1800,
                            "y": 1500
                        },
                        "restore": {}
                    }
                }
            ]
        },
        {
            "id": 14,
            "module": "supabase:uploadAFile",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1000003
            },
            "mapper": {
                "upsert": false,
                "bucketID": "documentos_demo",
                "file_data": "{{6.data}}",
                "file_name": "{{6.name}}"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 600,
                    "name": "Envia Arquivo Declaração"
                },
                "restore": {
                    "expect": {
                        "upsert": {
                            "mode": "chose"
                        },
                        "bucketID": {
                            "mode": "chose",
                            "label": "documentos_demo"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "supabase"
                            },
                            "label": "Supabase Demo Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:supabase",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "bucketID",
                        "type": "select",
                        "label": "Bucket ID",
                        "required": true
                    },
                    {
                        "name": "file_name",
                        "type": "text",
                        "label": "Name",
                        "required": true
                    },
                    {
                        "name": "file_data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "upsert",
                        "type": "boolean",
                        "label": "Upsert"
                    }
                ],
                "advanced": true
            },
            "onerror": [
                {
                    "id": 37,
                    "module": "builtin:Commit",
                    "version": 1,
                    "parameters": {},
                    "mapper": {},
                    "metadata": {
                        "designer": {
                            "x": 2100,
                            "y": 1200
                        },
                        "restore": {}
                    }
                }
            ]
        },
        {
            "id": 39,
            "module": "supabase:createARow",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1000003
            },
            "filter": null,
            "mapper": {
                "path": "{{14.Key}}",
                "table": "uploads",
                "bucket": "documentos_demo",
                "mime_type": "{{4.mimeType}}",
                "original_filename": "{{4.name}}"
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 450,
                    "name": "Chave"
                },
                "restore": {
                    "expect": {
                        "table": {
                            "mode": "chose",
                            "label": "uploads",
                            "nested": [
                                {
                                    "help": "Note:\nThis is a Primary Key.<pk/>",
                                    "name": "id",
                                    "type": "integer",
                                    "label": "id",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "Defaults to documentos_demo. ",
                                    "name": "bucket",
                                    "type": "text",
                                    "label": "bucket",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "path",
                                    "type": "text",
                                    "label": "path",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "original_filename",
                                    "type": "text",
                                    "label": "original_filename",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "mime_type",
                                    "type": "text",
                                    "label": "mime_type",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "Defaults to now(). ",
                                    "name": "created_at",
                                    "type": "text",
                                    "label": "created_at",
                                    "options": null,
                                    "required": false
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "supabase"
                            },
                            "label": "Supabase Demo Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:supabase",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "integer"
                    },
                    {
                        "name": "bucket",
                        "type": "text"
                    },
                    {
                        "name": "path",
                        "type": "text"
                    },
                    {
                        "name": "original_filename",
                        "type": "text"
                    },
                    {
                        "name": "mime_type",
                        "type": "text"
                    },
                    {
                        "name": "created_at",
                        "type": "text"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "number",
                        "label": "id"
                    },
                    {
                        "name": "bucket",
                        "type": "text",
                        "label": "bucket"
                    },
                    {
                        "name": "path",
                        "type": "text",
                        "label": "path"
                    },
                    {
                        "name": "original_filename",
                        "type": "text",
                        "label": "original_filename"
                    },
                    {
                        "name": "mime_type",
                        "type": "text",
                        "label": "mime_type"
                    },
                    {
                        "name": "created_at",
                        "type": "text",
                        "label": "created_at"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 40,
                    "module": "builtin:Commit",
                    "version": 1,
                    "parameters": {},
                    "mapper": {},
                    "metadata": {
                        "designer": {
                            "x": 2400,
                            "y": 900
                        },
                        "restore": {}
                    }
                }
            ]
        },
        {
            "id": 22,
            "module": "supabase:createARow",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1000003
            },
            "mapper": {
                "tipo": "declaracao_anterior",
                "table": "documentos",
                "ano_base": "{{12.ano_base}}",
                "descricao": "{{11.result.documento_recebido.descricao}}",
                "pessoa_id": "{{5.id}}",
                "upload_id": "{{39.id}}",
                "exercicio_id": "{{12.id}}",
                "instituicao_texto": "{{11.result.documento_recebido.instituicao_texto}}"
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 300,
                    "name": "Cria Documento Declaração"
                },
                "restore": {
                    "expect": {
                        "tipo": {
                            "mode": "chose",
                            "label": "declaracao_anterior"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "documentos",
                            "nested": [
                                {
                                    "help": "Note:\nThis is a Primary Key.<pk/>",
                                    "name": "id",
                                    "type": "integer",
                                    "label": "id",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "Note:\nThis is a Foreign Key to `exercicios.id`.<fk table='exercicios' column='id'/>",
                                    "name": "exercicio_id",
                                    "type": "integer",
                                    "label": "exercicio_id",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "Note:\nThis is a Foreign Key to `pessoas.id`.<fk table='pessoas' column='id'/>",
                                    "name": "pessoa_id",
                                    "type": "integer",
                                    "label": "pessoa_id",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "ano_base",
                                    "type": "integer",
                                    "label": "ano_base",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "tipo",
                                    "type": "select",
                                    "label": "tipo",
                                    "options": [
                                        {
                                            "label": "declaracao_anterior",
                                            "value": "declaracao_anterior"
                                        },
                                        {
                                            "label": "informe_rendimentos_pj",
                                            "value": "informe_rendimentos_pj"
                                        },
                                        {
                                            "label": "lucros_dividendos",
                                            "value": "lucros_dividendos"
                                        },
                                        {
                                            "label": "distribuicao_lucros_simples",
                                            "value": "distribuicao_lucros_simples"
                                        },
                                        {
                                            "label": "diarias_ajudas_custo",
                                            "value": "diarias_ajudas_custo"
                                        },
                                        {
                                            "label": "informe_rendimentos_aplicacoes",
                                            "value": "informe_rendimentos_aplicacoes"
                                        },
                                        {
                                            "label": "extrato_posicao_investimentos",
                                            "value": "extrato_posicao_investimentos"
                                        },
                                        {
                                            "label": "extrato_posicao_exterior",
                                            "value": "extrato_posicao_exterior"
                                        },
                                        {
                                            "label": "operacoes_bolsa",
                                            "value": "operacoes_bolsa"
                                        },
                                        {
                                            "label": "recibo_dispensa_medica",
                                            "value": "recibo_dispensa_medica"
                                        },
                                        {
                                            "label": "documentos_dependentes",
                                            "value": "documentos_dependentes"
                                        },
                                        {
                                            "label": "imovel_documentos",
                                            "value": "imovel_documentos"
                                        },
                                        {
                                            "label": "imovel_reforma_notas_contratos",
                                            "value": "imovel_reforma_notas_contratos"
                                        },
                                        {
                                            "label": "veiculo_documentos",
                                            "value": "veiculo_documentos"
                                        },
                                        {
                                            "label": "veiculo_compra_venda",
                                            "value": "veiculo_compra_venda"
                                        },
                                        {
                                            "label": "participacao_societaria_documentos",
                                            "value": "participacao_societaria_documentos"
                                        },
                                        {
                                            "label": "divida_financiamento_contrato",
                                            "value": "divida_financiamento_contrato"
                                        },
                                        {
                                            "label": "divida_financiamento_extratos",
                                            "value": "divida_financiamento_extratos"
                                        },
                                        {
                                            "label": "outros",
                                            "value": "outros"
                                        }
                                    ],
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "instituicao_texto",
                                    "type": "text",
                                    "label": "instituicao_texto",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "descricao",
                                    "type": "text",
                                    "label": "descricao",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "Note:\nThis is a Foreign Key to `uploads.id`.<fk table='uploads' column='id'/>",
                                    "name": "upload_id",
                                    "type": "integer",
                                    "label": "upload_id",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "Defaults to now(). ",
                                    "name": "created_at",
                                    "type": "text",
                                    "label": "created_at",
                                    "options": null,
                                    "required": false
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "supabase"
                            },
                            "label": "Supabase Demo Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:supabase",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "integer"
                    },
                    {
                        "name": "exercicio_id",
                        "type": "integer"
                    },
                    {
                        "name": "pessoa_id",
                        "type": "integer"
                    },
                    {
                        "name": "ano_base",
                        "type": "integer"
                    },
                    {
                        "name": "tipo",
                        "type": "select",
                        "validate": {
                            "enum": [
                                "declaracao_anterior",
                                "informe_rendimentos_pj",
                                "lucros_dividendos",
                                "distribuicao_lucros_simples",
                                "diarias_ajudas_custo",
                                "informe_rendimentos_aplicacoes",
                                "extrato_posicao_investimentos",
                                "extrato_posicao_exterior",
                                "operacoes_bolsa",
                                "recibo_dispensa_medica",
                                "documentos_dependentes",
                                "imovel_documentos",
                                "imovel_reforma_notas_contratos",
                                "veiculo_documentos",
                                "veiculo_compra_venda",
                                "participacao_societaria_documentos",
                                "divida_financiamento_contrato",
                                "divida_financiamento_extratos",
                                "outros"
                            ]
                        }
                    },
                    {
                        "name": "instituicao_texto",
                        "type": "text"
                    },
                    {
                        "name": "descricao",
                        "type": "text"
                    },
                    {
                        "name": "upload_id",
                        "type": "integer"
                    },
                    {
                        "name": "created_at",
                        "type": "text"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "number",
                        "label": "id"
                    },
                    {
                        "name": "exercicio_id",
                        "type": "number",
                        "label": "exercicio_id"
                    },
                    {
                        "name": "pessoa_id",
                        "type": "number",
                        "label": "pessoa_id"
                    },
                    {
                        "name": "ano_base",
                        "type": "number",
                        "label": "ano_base"
                    },
                    {
                        "name": "tipo",
                        "type": "text",
                        "label": "tipo"
                    },
                    {
                        "name": "instituicao_texto",
                        "type": "text",
                        "label": "instituicao_texto"
                    },
                    {
                        "name": "descricao",
                        "type": "text",
                        "label": "descricao"
                    },
                    {
                        "name": "upload_id",
                        "type": "number",
                        "label": "upload_id"
                    },
                    {
                        "name": "created_at",
                        "type": "text",
                        "label": "created_at"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 38,
                    "module": "builtin:Commit",
                    "version": 1,
                    "parameters": {},
                    "mapper": {},
                    "metadata": {
                        "designer": {
                            "x": 2700,
                            "y": 600
                        },
                        "restore": {}
                    }
                }
            ]
        },
        {
            "id": 23,
            "module": "gemini-ai:createACompletionGeminiPro",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1000002
            },
            "mapper": {
                "model": "gemini-3-flash-preview",
                "contents": [
                    {
                        "role": "user",
                        "parts": [
                            {
                                "text": "Extraia os dados do pdf",
                                "type": "text"
                            },
                            {
                                "type": "file",
                                "file_data": {
                                    "file_uri": "{{9.uri}}",
                                    "mime_type": "{{9.mimeType}}"
                                }
                            }
                        ]
                    }
                ],
                "generationConfig": {
                    "imageConfig": {},
                    "thinkingConfig": {},
                    "responseModalities": [
                        "text"
                    ]
                },
                "system_instruction": {
                    "parts": [
                        {
                            "text": "Você é um especialista em análise de Declaração de Ajuste Anual do IRPF.\r\n\r\nAnalise o PDF anexado e gere somente as pendências documentais necessárias para conferência contábil.\r\n\r\nA resposta deve ser exclusivamente JSON válido.\r\nNão use markdown.\r\nNão escreva explicações fora do JSON.\r\nNão coloque ```json.\r\nNão coloque comentários.\r\nNão invente informações.\r\nSe não houver pendências, retorne \"pendencias\": [].\r\n\r\nA resposta deve seguir exatamente esta estrutura:\r\n\r\n{\r\n  \"pendencias\": [\r\n    {\r\n      \"tipo\": null,\r\n      \"instituicao_texto\": null,\r\n      \"descricao_sugerida\": null,\r\n      \"origem\": \"ia\",\r\n      \"status\": \"pendente\",\r\n      \"motivo\": null\r\n    }\r\n  ]\r\n}\r\n\r\nTIPOS PERMITIDOS PARA \"tipo\":\r\n- declaracao_anterior\r\n- informe_rendimentos_pj\r\n- lucros_dividendos\r\n- distribuicao_lucros_simples\r\n- diarias_ajudas_custo\r\n- informe_rendimentos_aplicacoes\r\n- extrato_posicao_investimentos\r\n- extrato_posicao_exterior\r\n- operacoes_bolsa\r\n- recibo_dispensa_medica\r\n- documentos_dependentes\r\n- imovel_documentos\r\n- imovel_reforma_notas_contratos\r\n- veiculo_documentos\r\n- veiculo_compra_venda\r\n- participacao_societaria_documentos\r\n- divida_financiamento_contrato\r\n- divida_financiamento_extratos\r\n- outros\r\n\r\nREGRAS PARA GERAR PENDÊNCIAS:\r\n\r\n1. Sempre gerar uma pendência do tipo \"declaracao_anterior\" quando o PDF for uma Declaração de Ajuste Anual do IRPF.\r\n   instituicao_texto: \"GERAL\"\r\n   descricao_sugerida: \"Enviar declaração de ajuste anual anterior completa, incluindo recibo de entrega.\"\r\n\r\n2. Se houver rendimentos tributáveis recebidos de pessoa jurídica, gerar \"informe_rendimentos_pj\" para cada fonte pagadora identificada.\r\n\r\n3. Se houver lucros e dividendos, gerar \"lucros_dividendos\".\r\n\r\n4. Se houver distribuição de lucros de empresa do Simples Nacional, MEI, sociedade limitada ou empresa própria, gerar \"distribuicao_lucros_simples\".\r\n\r\n5. Se houver diárias, ajudas de custo ou verbas indenizatórias, gerar \"diarias_ajudas_custo\".\r\n\r\n6. Se houver rendimentos de aplicações financeiras, gerar \"informe_rendimentos_aplicacoes\".\r\n\r\n7. Se houver bancos, contas, aplicações, CDB, RDB, fundos, previdência privada, corretoras, ações, criptoativos ou outros investimentos, gerar \"extrato_posicao_investimentos\".\r\n\r\n8. Se houver bens, direitos, contas, aplicações, empresas ou rendimentos no exterior, gerar \"extrato_posicao_exterior\".\r\n\r\n9. Se houver ações, fundos imobiliários, BDR, ETF, opções, termo, futuro, day trade ou operações em bolsa, gerar \"operacoes_bolsa\".\r\n\r\n10. Se houver despesas médicas, odontológicas, hospitalares, plano de saúde ou profissionais de saúde, gerar \"recibo_dispensa_medica\".\r\n\r\n11. Se houver dependentes, gerar \"documentos_dependentes\".\r\n\r\n12. Se houver imóveis, terrenos, apartamentos, casas, salas comerciais ou propriedades rurais, gerar \"imovel_documentos\".\r\n\r\n13. Se houver construção, reforma, ampliação, benfeitoria ou aumento relevante em imóvel, gerar \"imovel_reforma_notas_contratos\".\r\n\r\n14. Se houver veículos, automóveis, motos, caminhões, embarcações ou aeronaves, gerar \"veiculo_documentos\".\r\n\r\n15. Se houver compra ou venda de veículo no ano-base, gerar \"veiculo_compra_venda\".\r\n\r\n16. Se houver participação societária, quotas, empresa, MEI, sociedade limitada, capital social ou ações não negociadas em bolsa, gerar \"participacao_societaria_documentos\".\r\n\r\n17. Se houver dívidas, financiamentos, empréstimos, consórcios ou ônus reais, gerar \"divida_financiamento_contrato\".\r\n\r\n18. Se houver saldo de dívida, financiamento, empréstimo ou consórcio em 31/12, gerar também \"divida_financiamento_extratos\".\r\n\r\n19. Não duplique pendências com o mesmo tipo e mesma instituicao_texto.\r\n\r\n20. Quando não houver instituição específica, use \"GERAL\" em instituicao_texto.\r\n\r\n21. origem deve ser sempre \"ia\".\r\n\r\n22. status deve ser sempre \"pendente\".\r\n\r\n23. descricao_sugerida deve ser clara para o cliente entender qual documento precisa enviar.\r\n\r\n24. motivo deve explicar resumidamente qual dado da declaração justificou a pendência.\r\n\r\nIMPORTANTE:\r\nNão inclua exercicio_id, pessoa_id ou ano_base no JSON. Esses campos serão preenchidos pelo Make nos módulos seguintes do Supabase.\r\nRetorne apenas o JSON final."
                        }
                    ]
                }
            },
            "metadata": {
                "designer": {
                    "x": 2700,
                    "y": 150,
                    "name": "Extrai Pendências"
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Gemini 3 Flash Preview"
                        },
                        "contents": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "parts": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                },
                                                "thoughtSignature": {
                                                    "collapsed": true
                                                }
                                            },
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "File"
                                                },
                                                "thoughtSignature": {
                                                    "collapsed": true
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "serviceTier": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "url_context": {
                            "mode": "chose"
                        },
                        "code_execution": {
                            "mode": "chose"
                        },
                        "safetySettings": {
                            "mode": "chose"
                        },
                        "generationConfig": {
                            "nested": {
                                "imageConfig": {
                                    "nested": {
                                        "imageSize": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "stopSequences": {
                                    "mode": "chose"
                                },
                                "thinkingConfig": {
                                    "nested": {
                                        "thinking_level": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "include_thoughts": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "mediaResolution": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "responseMimeType": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "responseModalities": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "system_instruction": {
                            "nested": {
                                "parts": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        },
                        "google_maps_context": {
                            "mode": "chose"
                        },
                        "google_search_context": {
                            "mode": "chose"
                        },
                        "file_search_store_context": {
                            "mode": "chose"
                        },
                        "function_declarations_context": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "example:gemini-ai"
                            },
                            "label": "Gemini Demo Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:example:gemini-ai",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "AI Model",
                        "required": true
                    },
                    {
                        "name": "contents",
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Model",
                                        "value": "model"
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "parts",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "options": [
                                            {
                                                "label": "Text",
                                                "value": "text",
                                                "nested": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "File",
                                                "value": "file",
                                                "nested": [
                                                    {
                                                        "name": "file_data",
                                                        "spec": [
                                                            {
                                                                "name": "mime_type",
                                                                "type": "text",
                                                                "label": "Mime Type",
                                                                "required": true
                                                            },
                                                            {
                                                                "help": "You can use public or signed URLs as input by using the URLs.",
                                                                "name": "file_uri",
                                                                "type": "text",
                                                                "label": "File URI",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Data",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Call",
                                                "value": "functionCall",
                                                "nested": [
                                                    {
                                                        "name": "functionCall",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function parameters and values in JSON object format.",
                                                                "name": "args",
                                                                "type": "json",
                                                                "label": "Arguments"
                                                            },
                                                            {
                                                                "help": "The unique ID of the function call.",
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "Function Call ID"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Call"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Response",
                                                "value": "functionResponse",
                                                "nested": [
                                                    {
                                                        "name": "functionResponse",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function response in JSON object format.",
                                                                "name": "response",
                                                                "type": "json",
                                                                "label": "Response",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Response"
                                                    }
                                                ]
                                            }
                                        ],
                                        "required": true
                                    },
                                    {
                                        "name": "thoughtSignature",
                                        "type": "text",
                                        "label": "Thought Signature"
                                    }
                                ],
                                "type": "array",
                                "label": "Parts",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "system_instruction",
                        "spec": [
                            {
                                "name": "parts",
                                "spec": {
                                    "name": "value",
                                    "spec": [
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Prompt"
                                },
                                "type": "array",
                                "label": "Prompts"
                            }
                        ],
                        "type": "collection",
                        "label": "System Instructions"
                    },
                    {
                        "name": "safetySettings",
                        "spec": [
                            {
                                "name": "category",
                                "type": "select",
                                "label": "Category",
                                "options": [
                                    {
                                        "label": "Harassment content",
                                        "value": "HARM_CATEGORY_HARASSMENT"
                                    },
                                    {
                                        "label": "Hate speech and content",
                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                    },
                                    {
                                        "label": "Sexually explicit content.",
                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                    },
                                    {
                                        "label": "Dangerous content:",
                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                    }
                                ]
                            },
                            {
                                "name": "threshold",
                                "type": "select",
                                "label": "Threshold",
                                "options": [
                                    {
                                        "label": "Block low and above.",
                                        "value": "BLOCK_LOW_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block medium and above.",
                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block only high.",
                                        "value": "BLOCK_ONLY_HIGH"
                                    },
                                    {
                                        "label": "Block none.",
                                        "value": "BLOCK_NONE"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Safety Settings"
                    },
                    {
                        "name": "generationConfig",
                        "spec": [
                            {
                                "name": "stopSequences",
                                "spec": {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Stop Sequence"
                                },
                                "type": "array",
                                "label": "Stop Sequences"
                            },
                            {
                                "name": "responseModalities",
                                "type": "select",
                                "label": "Response Modalities",
                                "multiple": true,
                                "validate": {
                                    "enum": [
                                        "text",
                                        "image"
                                    ]
                                }
                            },
                            {
                                "name": "maxOutputTokens",
                                "type": "number",
                                "label": "Max Output Tokens"
                            },
                            {
                                "name": "temperature",
                                "type": "number",
                                "label": "Temperature",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topP",
                                "type": "number",
                                "label": "Top P",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topK",
                                "type": "number",
                                "label": "Top K"
                            },
                            {
                                "name": "thinkingConfig",
                                "spec": [
                                    {
                                        "name": "thinkingBudget",
                                        "type": "number",
                                        "label": "Thinking Budget"
                                    },
                                    {
                                        "name": "include_thoughts",
                                        "type": "boolean",
                                        "label": "Include Thoughts"
                                    },
                                    {
                                        "name": "thinking_level",
                                        "type": "select",
                                        "label": "Thinking Level",
                                        "validate": {
                                            "enum": [
                                                "low",
                                                "high"
                                            ]
                                        }
                                    }
                                ],
                                "type": "collection",
                                "label": "Thinking Config"
                            },
                            {
                                "name": "mediaResolution",
                                "type": "select",
                                "label": "Media Resolution",
                                "validate": {
                                    "enum": [
                                        "media_resolution_low",
                                        "media_resolution_medium",
                                        "media_resolution_high"
                                    ]
                                }
                            },
                            {
                                "name": "imageConfig",
                                "spec": [
                                    {
                                        "name": "imageSize",
                                        "type": "select",
                                        "label": "Image Size",
                                        "validate": {
                                            "enum": [
                                                "1K",
                                                "2K",
                                                "4K"
                                            ]
                                        }
                                    }
                                ],
                                "type": "collection",
                                "label": "Image Configuration"
                            },
                            {
                                "name": "responseMimeType",
                                "type": "select",
                                "label": "Response Format"
                            }
                        ],
                        "type": "collection",
                        "label": "Generation configurations"
                    },
                    {
                        "name": "tools",
                        "type": "any",
                        "label": "Tools"
                    },
                    {
                        "name": "tool_config",
                        "type": "any",
                        "label": "Tool Config"
                    },
                    {
                        "name": "function_declarations_context",
                        "type": "boolean",
                        "label": "Function Declarations Grounding"
                    },
                    {
                        "name": "url_context",
                        "type": "boolean",
                        "label": "URL Context"
                    },
                    {
                        "name": "google_search_context",
                        "type": "boolean",
                        "label": "Google Search Grounding"
                    },
                    {
                        "name": "code_execution",
                        "type": "boolean",
                        "label": "Code Execution"
                    },
                    {
                        "name": "google_maps_context",
                        "type": "boolean",
                        "label": "Google Maps Grounding"
                    },
                    {
                        "name": "file_search_store_context",
                        "type": "boolean",
                        "label": "File Search Store Context"
                    },
                    {
                        "name": "serviceTier",
                        "type": "select",
                        "label": "Inference Service Tier"
                    }
                ]
            }
        },
        {
            "id": 31,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 1000004
            },
            "mapper": {
                "json": "{{23.result}}"
            },
            "metadata": {
                "designer": {
                    "x": 3000,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "My data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "",
                        "name": "pendencias",
                        "spec": {
                            "spec": [
                                {
                                    "help": "",
                                    "name": "tipo",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "help": "",
                                    "name": "instituicao_texto",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "help": "",
                                    "name": "descricao_sugerida",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "help": "",
                                    "name": "origem",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "help": "",
                                    "name": "status",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "help": "",
                                    "name": "motivo",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                }
                            ],
                            "type": "collection",
                            "required": false
                        },
                        "type": "array",
                        "label": "Pendencias",
                        "required": false
                    }
                ]
            }
        },
        {
            "id": 24,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 3300,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 25,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "filter": null,
                            "mapper": {
                                "array": "{{31.pendencias}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3600,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "array": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 27,
                            "module": "supabase:upsertARecord",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 1000003
                            },
                            "mapper": {
                                "tipo": "{{25.tipo}}",
                                "table": "pendencias",
                                "origem": "{{25.origem}}",
                                "status": "{{25.status}}",
                                "ano_base": "{{12.ano_base}}",
                                "pessoa_id": "{{5.id}}",
                                "exercicio_id": "{{12.id}}",
                                "instituicao_texto": "{{25.instituicao_texto}}",
                                "descricao_sugerida": "{{25.descricao_sugerida}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "tipo": {
                                            "mode": "edit"
                                        },
                                        "table": {
                                            "mode": "chose",
                                            "label": "pendencias",
                                            "nested": [
                                                {
                                                    "help": "Note:\nThis is a Primary Key.<pk/>",
                                                    "name": "id",
                                                    "type": "integer",
                                                    "label": "id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Note:\nThis is a Foreign Key to `exercicios.id`.<fk table='exercicios' column='id'/>",
                                                    "name": "exercicio_id",
                                                    "type": "integer",
                                                    "label": "exercicio_id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Note:\nThis is a Foreign Key to `pessoas.id`.<fk table='pessoas' column='id'/>",
                                                    "name": "pessoa_id",
                                                    "type": "integer",
                                                    "label": "pessoa_id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "ano_base",
                                                    "type": "integer",
                                                    "label": "ano_base",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "tipo",
                                                    "type": "select",
                                                    "label": "tipo",
                                                    "options": [
                                                        {
                                                            "label": "declaracao_anterior",
                                                            "value": "declaracao_anterior"
                                                        },
                                                        {
                                                            "label": "informe_rendimentos_pj",
                                                            "value": "informe_rendimentos_pj"
                                                        },
                                                        {
                                                            "label": "lucros_dividendos",
                                                            "value": "lucros_dividendos"
                                                        },
                                                        {
                                                            "label": "distribuicao_lucros_simples",
                                                            "value": "distribuicao_lucros_simples"
                                                        },
                                                        {
                                                            "label": "diarias_ajudas_custo",
                                                            "value": "diarias_ajudas_custo"
                                                        },
                                                        {
                                                            "label": "informe_rendimentos_aplicacoes",
                                                            "value": "informe_rendimentos_aplicacoes"
                                                        },
                                                        {
                                                            "label": "extrato_posicao_investimentos",
                                                            "value": "extrato_posicao_investimentos"
                                                        },
                                                        {
                                                            "label": "extrato_posicao_exterior",
                                                            "value": "extrato_posicao_exterior"
                                                        },
                                                        {
                                                            "label": "operacoes_bolsa",
                                                            "value": "operacoes_bolsa"
                                                        },
                                                        {
                                                            "label": "recibo_dispensa_medica",
                                                            "value": "recibo_dispensa_medica"
                                                        },
                                                        {
                                                            "label": "documentos_dependentes",
                                                            "value": "documentos_dependentes"
                                                        },
                                                        {
                                                            "label": "imovel_documentos",
                                                            "value": "imovel_documentos"
                                                        },
                                                        {
                                                            "label": "imovel_reforma_notas_contratos",
                                                            "value": "imovel_reforma_notas_contratos"
                                                        },
                                                        {
                                                            "label": "veiculo_documentos",
                                                            "value": "veiculo_documentos"
                                                        },
                                                        {
                                                            "label": "veiculo_compra_venda",
                                                            "value": "veiculo_compra_venda"
                                                        },
                                                        {
                                                            "label": "participacao_societaria_documentos",
                                                            "value": "participacao_societaria_documentos"
                                                        },
                                                        {
                                                            "label": "divida_financiamento_contrato",
                                                            "value": "divida_financiamento_contrato"
                                                        },
                                                        {
                                                            "label": "divida_financiamento_extratos",
                                                            "value": "divida_financiamento_extratos"
                                                        },
                                                        {
                                                            "label": "outros",
                                                            "value": "outros"
                                                        }
                                                    ],
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "instituicao_texto",
                                                    "type": "text",
                                                    "label": "instituicao_texto",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "descricao_sugerida",
                                                    "type": "text",
                                                    "label": "descricao_sugerida",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to ia. ",
                                                    "name": "origem",
                                                    "type": "select",
                                                    "label": "origem",
                                                    "options": [
                                                        {
                                                            "label": "base",
                                                            "value": "base"
                                                        },
                                                        {
                                                            "label": "historico",
                                                            "value": "historico"
                                                        },
                                                        {
                                                            "label": "ia",
                                                            "value": "ia"
                                                        },
                                                        {
                                                            "label": "manual",
                                                            "value": "manual"
                                                        }
                                                    ],
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to pendente. ",
                                                    "name": "status",
                                                    "type": "select",
                                                    "label": "status",
                                                    "options": [
                                                        {
                                                            "label": "pendente",
                                                            "value": "pendente"
                                                        },
                                                        {
                                                            "label": "recebido",
                                                            "value": "recebido"
                                                        },
                                                        {
                                                            "label": "dispensado",
                                                            "value": "dispensado"
                                                        }
                                                    ],
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to now(). ",
                                                    "name": "created_at",
                                                    "type": "text",
                                                    "label": "created_at",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "resolvida_em",
                                                    "type": "text",
                                                    "label": "resolvida_em",
                                                    "options": null,
                                                    "required": false
                                                }
                                            ]
                                        },
                                        "origem": {
                                            "mode": "edit"
                                        },
                                        "status": {
                                            "mode": "edit"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "supabase"
                                            },
                                            "label": "Supabase Demo Connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:supabase",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "integer"
                                    },
                                    {
                                        "name": "exercicio_id",
                                        "type": "integer"
                                    },
                                    {
                                        "name": "pessoa_id",
                                        "type": "integer"
                                    },
                                    {
                                        "name": "ano_base",
                                        "type": "integer"
                                    },
                                    {
                                        "name": "tipo",
                                        "type": "select",
                                        "validate": {
                                            "enum": [
                                                "declaracao_anterior",
                                                "informe_rendimentos_pj",
                                                "lucros_dividendos",
                                                "distribuicao_lucros_simples",
                                                "diarias_ajudas_custo",
                                                "informe_rendimentos_aplicacoes",
                                                "extrato_posicao_investimentos",
                                                "extrato_posicao_exterior",
                                                "operacoes_bolsa",
                                                "recibo_dispensa_medica",
                                                "documentos_dependentes",
                                                "imovel_documentos",
                                                "imovel_reforma_notas_contratos",
                                                "veiculo_documentos",
                                                "veiculo_compra_venda",
                                                "participacao_societaria_documentos",
                                                "divida_financiamento_contrato",
                                                "divida_financiamento_extratos",
                                                "outros"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "instituicao_texto",
                                        "type": "text"
                                    },
                                    {
                                        "name": "descricao_sugerida",
                                        "type": "text"
                                    },
                                    {
                                        "name": "origem",
                                        "type": "select",
                                        "validate": {
                                            "enum": [
                                                "base",
                                                "historico",
                                                "ia",
                                                "manual"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "status",
                                        "type": "select",
                                        "validate": {
                                            "enum": [
                                                "pendente",
                                                "recebido",
                                                "dispensado"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text"
                                    },
                                    {
                                        "name": "resolvida_em",
                                        "type": "text"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "number",
                                        "label": "id"
                                    },
                                    {
                                        "name": "exercicio_id",
                                        "type": "number",
                                        "label": "exercicio_id"
                                    },
                                    {
                                        "name": "pessoa_id",
                                        "type": "number",
                                        "label": "pessoa_id"
                                    },
                                    {
                                        "name": "ano_base",
                                        "type": "number",
                                        "label": "ano_base"
                                    },
                                    {
                                        "name": "tipo",
                                        "type": "text",
                                        "label": "tipo"
                                    },
                                    {
                                        "name": "instituicao_texto",
                                        "type": "text",
                                        "label": "instituicao_texto"
                                    },
                                    {
                                        "name": "descricao_sugerida",
                                        "type": "text",
                                        "label": "descricao_sugerida"
                                    },
                                    {
                                        "name": "origem",
                                        "type": "text",
                                        "label": "origem"
                                    },
                                    {
                                        "name": "status",
                                        "type": "text",
                                        "label": "status"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text",
                                        "label": "created_at"
                                    },
                                    {
                                        "name": "resolvida_em",
                                        "type": "text",
                                        "label": "resolvida_em"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 28,
                            "module": "google-drive:moveAFileIntoAFolder",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 1000001
                            },
                            "mapper": {
                                "file": "{{4.id}}",
                                "move": "drive",
                                "select": "file",
                                "folderId": "id(folderDrive)",
                                "destination": "drive"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3600,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "file": {
                                            "mode": "edit",
                                            "path": []
                                        },
                                        "move": {
                                            "label": "My Drive"
                                        },
                                        "select": {
                                            "label": "File"
                                        },
                                        "folderId": {
                                            "mode": "chose",
                                            "path": [
                                                "IRPF Demo",
                                                "Processados"
                                            ]
                                        },
                                        "destination": {
                                            "label": "My Drive"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "demo@example.com"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-restricted,google-drive",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "move",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "destination",
                                        "type": "select",
                                        "label": "New Drive Location",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Select File/Folder",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "file",
                                                "folder"
                                            ]
                                        }
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "file",
                                        "type": "file",
                                        "label": "File ID",
                                        "required": true
                                    },
                                    {
                                        "name": "folderId",
                                        "type": "folder",
                                        "label": "New Folder Location",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 15,
                        "module": "supabase:upsertARecord",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 1000003
                        },
                        "mapper": {
                            "table": "exercicios",
                            "status": "em_coleta",
                            "ano_base": "{{11.result.exercicio.ano_base}}",
                            "pessoa_id": "{{5.id}}"
                        },
                        "metadata": {
                            "designer": {
                                "x": 0,
                                "y": 2100,
                                "name": "Atualiza o Exercício Anterior",
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "error",
                                        "message": "'Supabase - Upsert a Record' [module ID 15] references inaccessible module 'Google Gemini AI - Generate a response' [module ID 11]."
                                    },
                                    {
                                        "category": "reference",
                                        "severity": "error",
                                        "message": "'Supabase - Upsert a Record' [module ID 15] references inaccessible module 'Supabase - Upsert a Record' [module ID 5]."
                                    },
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "This module is not connected to the flow. This module and everything after it will be skipped during execution. <autoconnect>Link it to your scenario to include them.</autoconnect>"
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "table": {
                                        "mode": "chose",
                                        "label": "exercicios",
                                        "nested": [
                                            {
                                                "help": "Note:\nThis is a Primary Key.<pk/>",
                                                "name": "id",
                                                "type": "integer",
                                                "label": "id",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "Note:\nThis is a Foreign Key to `pessoas.id`.<fk table='pessoas' column='id'/>",
                                                "name": "pessoa_id",
                                                "type": "integer",
                                                "label": "pessoa_id",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "",
                                                "name": "ano_base",
                                                "type": "integer",
                                                "label": "ano_base",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "Defaults to em_coleta. ",
                                                "name": "status",
                                                "type": "text",
                                                "label": "status",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "Defaults to now(). ",
                                                "name": "created_at",
                                                "type": "text",
                                                "label": "created_at",
                                                "options": null,
                                                "required": false
                                            }
                                        ]
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "supabase"
                                        },
                                        "label": "Supabase Demo Connection"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:supabase",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "table",
                                    "type": "select",
                                    "label": "Table",
                                    "required": true
                                },
                                {
                                    "name": "id",
                                    "type": "integer"
                                },
                                {
                                    "name": "pessoa_id",
                                    "type": "integer"
                                },
                                {
                                    "name": "ano_base",
                                    "type": "integer"
                                },
                                {
                                    "name": "status",
                                    "type": "text"
                                },
                                {
                                    "name": "created_at",
                                    "type": "text"
                                }
                            ],
                            "interface": [
                                {
                                    "name": "id",
                                    "type": "number",
                                    "label": "id"
                                },
                                {
                                    "name": "pessoa_id",
                                    "type": "number",
                                    "label": "pessoa_id"
                                },
                                {
                                    "name": "ano_base",
                                    "type": "number",
                                    "label": "ano_base"
                                },
                                {
                                    "name": "status",
                                    "type": "text",
                                    "label": "status"
                                },
                                {
                                    "name": "created_at",
                                    "type": "text",
                                    "label": "created_at"
                                }
                            ]
                        }
                    }
                ]
            ]
        },
        "zone": "us2.make.com",
        "notes": []
    }
}